nav {
  position: fixed;
  width: 1222px;
  top: 0px;

  background: rgb(232, 149, 149);
  backdrop-filter: blur(20px);
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5000;;
  padding: 16px 12px;
}
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 50px;

}

nav ul li a,
a.logo{
    color: rgb(249, 252, 255);
    font-weight: 800;
    font-size: 16px;
}

a.logo .red{
 color: var(--red-color);
}
