footer .content-container {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}

footer a {
    color: aliceblue;
}

footer a:hover{
    text-decoration: underline;
}

footer .soical-icons {
 display: flex;
 gap: 100px;
 margin: 24px 0;
}

footer .soical-icons img {
    width: 80px;
    transition: all 400ms ease;
}


footer .soical-icons img:hover {
    transform: scale(1.04);;
    
    
}

footer .copyright {
    font-family: "Alegreya" , serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: aliceblue;

}

footer h3{
    color: var(--pink-color);
    font-family: "Alegreya",serif;
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}

footer .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .links ul li {
    font-family: "Alegreya", serif;
    font-weight: 400;
    font-size: 16px;
    margin: 8px 16px;
}